@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

html{
    font-family: 'Bungee Spice', cursive;
    
}
body{
    background-color: black;
    text-align: center;
}
